<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Task Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>
<form class="form-narrow form-horizontal" method="post" th:action="@{/taskRate}">
  <th:block th:if="${taskEnabled == true}">
    <span>当前任务状态: 正在运行</span> &nbsp;&nbsp;
    <a href="swithTask" th:href="@{/switchTask}">停止</a>
  </th:block>
  <th:block th:if="${taskEnabled == false}">
    <span>当前任务状态: 停止</span> &nbsp;&nbsp;
    <a href="swithTask" th:href="@{/switchTask}">启动</a>
  </th:block>
  
    任务间隔： <input type="text" size="3" class="input-mini" id="taskRate" name="taskRate" th:value="${taskRate}"/> 分钟
  <button type="submit" class="btn btn-default">设置</button>
</form>
</body>

</html>